AuthName "Transmission Admin Restricted Access (Requires NAS admin a/c info)" 
AuthType Basic 
#	AuthUserFile /mnt/HDA_ROOT/rootfs_2_3_6/root/.htpasswd 
AuthUserFile /mnt/HDA_ROOT/.config/shadow 
AuthGroupFile /dev/null 
#	require valid-user

<limit GET POST>
require user admin
</Limit>
